SOURCE_USER=
SOURCE_PASSWORD=
SOURCE_HOST=
DEST_USER=
DEST_PASSWORD=
DEST_HOST=
DB_FILE=data/db.json
AUTH_TIMEOUT_MS=20000
PROCESS_TIMEOUT_MS=50000
SYNC_INTERVAL_MS=720000
SERVER_PORT=3000
SERVER_HOST=0.0.0.0
DO_NOT_FORWARD_EMAILS=
FORWARD_BUT_ARCHIVE_EMAILS=
INFLUXDB_BASE_URL=
INFLUXDB_ORG=
INFLUXDB_BUCKET=
INFLUXDB_TOKEN=
